@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 0deg 0% 100%; /* #fff */
    --secondary: 0deg 0% 96%; /* #F4F4F4/hsl(0 0% 96%))  */
    --secondary-accent: 0deg 0% 91%; /* #E9E9E9/hsl(0 0% 91%))  */
    --primary-foreground: 0deg 0% 18%; /*  #2D2D2D/ hsl(0 0% 18%) */
    --secondary-foreground: 0deg 0% 51%; /*  #757575/hsl(0 0% 51%)) */
    --quote-foreground: 0deg 0% 51%; /*  #757575/hsl(0 0% 51%)) */
    --primary-accent: 274deg 82% 60%; /* ##A445ED/hsl(247 82% 60%) */
    --toggle-bg: 0deg 0% 51%; /*   #757575/hsl(0 0% 51%) */
    --toggle-fg: 0deg 0% 100%; /*   #fff/hsl(0 0% 100%) */
    --toggle-accent: 0deg 0% 91%; /* #E9E9E9/hsl(0 0% 91%))  */
    --error: 0deg 100% 66%; /* #FF2552/ hsl(0 100% 66%) */
    --error-foreground: 0deg 100% 66%; /*#FF2552/ hsl(0 100% 66%)  */
  }

  [data-mode='dark'] {
    --primary: 0deg 0% 2%; /* #050505/ hsl(0 0% 2%) */
    --secondary: 0deg 0% 12%; /* #1F1F1F/ hsl(0 0% 12%) */
    --primary-foreground: 0deg 0% 100%; /* #fff */
    --secondary-foreground: 0deg 0% 96%; /* #F4F4F4/hsl(0 0% 96%))  */
    --primary-accent: 274deg 82% 60%; /* ##A445ED/hsl(247 82% 60%) */
    --secondary-accent: 0deg 0% 23%; /* #3A3A3A/hsl(0 0% 23%))  */

    --toggle-bg: 274deg 82% 60%; /* ##A445ED/hsl(247 82% 60%) */
    --toggle-fg: 0deg 0% 100%; /*   #fff/hsl(0 0% 100%) */

    --error: 0deg 100% 66%; /* #FF2552/ hsl(0 100% 66%) */
    --error-foreground: 0deg 100% 66%; /*#FF2552/ hsl(0 100% 66%)  */
  }

  @font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/lora/static/Lora-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/lora/static/Lora-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: bold;
    src: url('/fonts/lora/static/Lora-BoldItalic.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/inter/static/Inter-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/inter/static/Inter-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/inconsolata/static/Inconsolata-Regular.ttf')
      format('truetype');
  }

  @font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/inconsolata/static/Inconsolata-Bold.ttf')
      format('truetype');
  }
  .circle {
    opacity: 0.25;
  }

  .path {
    fill: #a445ed;
  }

  .hover .circle {
    opacity: 1;
  }

  .hover .path {
    fill: #fff;
  }
}

@layer components {
  .hr {
    border-top: 1px solid #000;
  }
}
